# Exclude some checks
disable=SC2034  # Unused variable (often used in sourced files)
disable=SC1090  # Can't follow non-constant source
disable=SC1091  # Not following sourced files
disable=SC2250  # Prefer braces around variable references (style)
disable=SC2292  # Prefer [[ ]] over [ ] (style)
disable=SC2248  # Prefer double quoting variables (style)
disable=SC2162  # read without -r will mangle backslashes (style)
disable=SC2086  # Double quote to prevent globbing (info)
disable=SC2001  # Use ${var//search/replace} instead of sed (style)
disable=SC2002  # Useless cat (style)
disable=SC2016  # Expressions don't expand in single quotes (info)
